<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Appli Boucalais </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="./Css/style.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light sticky-top">
		{% if acces == "oui" %}
			<a class="navbar-brand" href="?action=accueil">
				Appli Boucalais
			</a>
		{% else %}
			<a class="navbar-brand" href="?action=connexion">
				Appli Boucalais
			</a>
		{% endif %}
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				{% if role == "client" or role == "prospect" %}
					<li class="nav-item"><a class="nav-link" href="?action=accueil">Accueil</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Devis
							</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="?action=form-devis">Faire un devis</a>
							<a class="dropdown-item" href="?action=liste-devis-client">Mes devis</a>
						</div>
					</li>
				{% endif %}

				{% if role == "gerant" %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Clients
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="?action=aperçu">Aperçu</a>
							<a class="dropdown-item" href="?action=clients">Tous</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="?action=ajouter-client">Ajouter</a>
							<a class="dropdown-item" href="?action=attribuer-devis">Attribuer un devis</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Plannings
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="Plannings/planning-devis.php">Planning des devis</a>
							<a class="dropdown-item" href="Plannings/planning-demandes-reservation.php">Planning des demandes de réservation</a>
							<a class="dropdown-item" href="Plannings/planning.php">Planning</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Paramétrage
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="?action=documents-gerant">Documents</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="?action=prix-devis">Prix devis</a>
							<a class="dropdown-item" href="?action=liste-activite">Activités devis</a>
							<a class="dropdown-item" href="?action=liste-option">Options devis</a>
						</div>
					</li>
				{% endif %}

				{% if acces == "non" %}
                    <li class="nav-item"><a class="nav-link" href="?action=inscription-formulaire">Inscription</a></li>       
					<li class="nav-item"><a class="nav-link" href="?action=connexion">Connexion</a></li>       
				{% endif %}
			</ul>

			{% if acces == "oui" and role == "prospect" %}
				<div>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">Bonjour {{user.nomGroupe}}</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="?action=profil">Mon profil</a>
								<a class="dropdown-item" href="?action=logout">Déconnexion</a>
							</div>
						</li>
					</ul>
				</div>
			{% elseif acces == "oui" and role == "gerant" %}
				<div>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">Bonjour {{user.prenom}}</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="?action=profil">Mon profil</a>
								<a class="dropdown-item" href="?action=logout">Déconnexion</a>
							</div>
						</li>
					</ul>
				</div>
			{% endif %}
		</div>
	</nav>

    <div class="container">
        {% if message is defined and succes == "non" %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% elseif message is defined and succes == "oui" %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endif %}

        <h2>S'inscrire sur l'application</h2>

        <form method="post" action="?action=inscription-formulaire" class="mt-5">
            <fieldset class="form-group">
                <div class="form-group row">
                    <label class="col-lg-2 col-sm-4 col-form-label">Type de groupe</label>
                    <div class="col-lg-4 col-sm-8">
                        <select class="form-control" name="type_groupe" required>
                            <option value="" disabled="" selected="">-- Sélectionner un type de groupe --</option>
                            <option value="établissement médico-social">un établissement médico-social</option>
                            <option value="scolaire">un groupe scolaire</option>
                            <option value="colonie/mini-camps">un organisateur de colonies/mini-camps</option>
                            <option value="association">une association</option>
                            <option value="club sportif">un club sportif</option>
                            <option value="familial">un groupe familial</option>
                            <option value="informel">un groupe informel</option>
                            <option value="agence de voyage/autocariste">une agence de voyage/autocariste</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-sm-4 col-form-label" for="nom-organisme">Nom de l'organisme</label>
                    <div class="col-lg-4 col-sm-8">
                        <input type="text" name="nom_organisme" id="nom-organisme" class="form-control" placeholder="Mon Association" required>
                    </div>
                </div>
                <div class="form-group row">
                    <h6 class="col-lg-12 mt-4 mb-4"><strong>Coordonnées du responsable</strong></h6>
                    <label class="col-lg-2 col-sm-4 col-form-label" for="prenom">Prénom </label>
                    <div class="col-lg-4 col-sm-8">
                        <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Jean" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-sm-4 col-form-label" for="nom">Nom</label>
                    <div class="col-lg-4 col-sm-8">
                        <input type="text" name="nom" id="nom" class="form-control" placeholder="Dupont" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-sm-4 col-form-label" for="email">E-mail</label>
                    <div class="col-lg-4 col-sm-8">
                        <input type="email" name="email" id="email" class="form-control" placeholder="jeandupont@gmail.com" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-sm-4 col-form-label" for="telephone">Téléphone</label>
                    <div class="col-lg-4 col-sm-8">
                        <input type="tel" name="telephone" id="telephone" class="form-control" minlength="10" maxlength="10" pattern="[0-9]{10}" title="Le numéro de téléphone doit comporter 10 chiffres sans espaces." placeholder="0659413578" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-sm-6 col-form-label" for="personnes">Taille du groupe<br>(nombre de personnes)</label>
                    <div class="col-lg-4 col-sm-8">
                        <input type="number" min="1" name="nombre_personnes" id="personnes" class="form-control" placeholder="1" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-sm-6 col-form-label" for="nuits">Nombre de nuits</label>
                    <div class="col-lg-4 col-sm-8">
                        <input type="number" min="1" name="nombre_nuits" id="nuits" class="form-control" placeholder="1" required>
                    </div>
                </div>
            </fieldset>

            <input type="hidden" name="moyen" value="Formulaire d'inscription">

            <input class="mt-3" type="submit" name="inscription-formulaire" value="Ajouter">

        </form>
    </div>

    <footer class="mt-5">
		{% if role == "client" or role == "prospect" or role == "gerant" %}
			<div class="text-center"> Copyright &copy; <a href="?action=accueil">Appli Boucalais</a> - Tous droits réservés </div>
		{% else %}
			<div class="text-center"> Copyright &copy; <a href="?action=connexion">Appli Boucalais</a> - Tous droits réservés </div>
		{% endif %}
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
