{% extends "index.html.twig" %}
{% block section %}
    <a href="?action=liste-option"> Retour à la liste des options de séjour </a>
    <form method="POST" action="?action=modifier-option">
        <fieldset>
            <legend> Modification d'option </legend>
            <div>
                <label for="nomOption" class="col-4">Nom de l'option</label>
                <input type="text" id="nomOption" class="col-6" value="{{option.NOM_OPTION}}" size="192" name="NOM_OPTION" required>
            </div>
            <br/>
            <div>
                <label for="prixOption" class="col-4">Prix à l'unité</label>
                <input type="number" id="prixOption" name="PRIX_OPTION_UNITE" value="{{option.PRIX_OPTION_UNITE}}">
            </div>
            <br/>
            <div>
                <label for="descriptionOption" class="col-4">Description</label>
                <textarea id="descriptionOption" name="DESCRIPTION_OPTION" width="512" class="col-6">{{option.DESCRIPTION_OPTION}}</textarea>
            </div>
            <br/>
            <div>
                <input type="hidden" id="idOption" name="ID_OPTION" value="{{option.ID_OPTION}}" required>
            </div>
        <input type="submit" name="modification-option" value="Sauvegarder">
    </form>
    <script src='js/FormCheck.js'></script>
{% endblock %}